.one-indent{
    margin-left: 20px;
}

.two-indent{
    margin-left: 44px;
}

.shin-ramen{
    transition-duration: 1s;
}

.shin-ramen:hover{
    background-color: crimson;
    color: aliceblue;
    padding: 10px;
    font-size: xxx-large;
    transition-duration: 1s;
}

.pretzel{

}

.circle{
    border-radius: 50%;
    border: 10px solid saddlebrown;
    width: 40px;
    height: 50px;
    display: inline-block;
}

.circle1{
    margin-right: -25px;
}

.two-circles{
    margin-bottom: -27px;
}
.pretzel-bar{
    height: 7px;
    width: 60px;
    margin-left: 20px;
    background-color: saddlebrown;
}


div div{
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}

div div *{
    font-size: x-small;
}

