.one-indent{
    margin-left: 20px;
}

.two-indent{
    margin-left: 44px;
}

.shin-ramen{
    transition-duration: 1s;
}

.shin-ramen:hover{
    background-color: crimson;
    color: aliceblue;
    padding: 10px;
    font-size: xxx-large;
    transition-duration: 1s;
}


div div{
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}

div div *{
    font-size: x-small;
}

